/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f7f8f8;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Ensure it's above other content */
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

   
}

.container img {
    width: 150px; 
    margin-left: 100px;
     
   /* Adjust as needed */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #090909;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1e1d1d80; /* 80% opacity white */
}


ul {
    list-style-type: none;
    padding: 0;
}

#about {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.about-us {
    font-size: 2.1rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
   
}

.container p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Footer */
footer {
    background-color: #1f2833; /* Dark navy blue */
     color: #f9f9f9;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
   
}

.footer-content {
    max-width: 400px;
}

.footer-content h2 {
    margin-bottom: 20px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    margin-bottom: 10px;
}
/* Add this CSS to your style.css file */

.social-media a i {
    font-size: 24px; /* Adjust the size as needed */
    color: #0077b5; /* LinkedIn blue */
}

.social-media a:nth-child(2) i {
    color: #d8dee4; /* GitHub black */
}

.social-media a:nth-child(3) i {
    color: #d93025; /* Gmail red */
}

.social-media a:nth-child(4) i {
    color: #0088cc; /* Telegram blue */
}
.square-bar {
    width: 80%; /* Adjust width as needed */
    height: 70px; /* Adjust height as needed */
    background-color: #2c2e3c; /* Adjust color as needed */
    margin: 50px auto; /* Adjust margin as needed */
    border-radius: 20px; /* Adjust border radius as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 8%;

}
.square {
    width: 90%; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-color: #e9e0e9; /* Adjust color as needed */
    margin: 50px auto; /* Adjust margin as needed */
    border-radius: 20px; /* Adjust border radius as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  

}
.pdfs {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pdf {
    margin: 0 20px;
    cursor: pointer;
}

.pdf img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.pdf img:hover {
    transform: scale(1.05);
}


